body {
  margin: 0%;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
}
.nav-link {
  font-family: "Open Sans", sans-serif !important;
  font-size: 18px !important;
}

.jumbotron-heading {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
}

form-query {
  border-radius: 33px;
}

.footer {
  color:white;
  font-family: "Open Sans", sans-serif !important;
  background-color: #888888;
  background-size: cover !important;
  height: 300px !important;
}

.footerHeader{
  font-weight: 700;
  font-size: 22px;
}

.copy{
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px !important;
}

.links {
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px !important;
}

.links a{
  color: #ff6900;
  text-decoration: none;
}

.underline {
  width: 38px;
  height: 5px;
}

.videoBorder {
  border-style: solid;
  border-color: #0084ac;
}

.podcastBorder {
  border-style: solid;
  border-color: #ff6900;
}

.overlay {
  position: absolute;
  top: 2px;
  display: block;
  color: white;
  padding: 0.2rem 0.8rem;
}

.cyan{
  background: #0084ac;
}
.orange{
  background: #ff6900;
}
.green{
  background: #7cb82f;
}

.videoColor{
  background-color: #0084ac;
}

.podcastColor{
  background-color: #ff6900;
}

.cardFeature{
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.cardType{
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #b2b2b2;
}

.cardTitle{
  font-family: brandon-grotesque, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.cardTitleLarge{
  font-family: brandon-grotesque, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
}

.button {
  display: block !important;
  background-color: transparent;
  border-style: solid;
  border-color: white;
  color: white;
  /* padding-top: 5px;
    padding-bottom: 5px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px;
    margin: 14px 10px; */
}
