* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
}

.nav-link {
  font-family: "Open Sans", sans-serif !important;
  font-size: 18px !important;
}
